<center><h1>Sistema Escola Bíblica Dominical</h1></center>

<div class="container">
<p> Sistema criado com a intenção de gerar os relatórios na escola bíblica dominical da igreja Batista Regular do José Américo.</p>
<b> O sistema foi desenvolvido por Neemias e Vanniery</b>

</div>